{% extends 'base.html' %}

{% block title %}
| Articles
{% endblock %}

{% block content %}
{% if articles %}

{% for article in articles %}
<div class="card my-5" style="width: 40rem; position: relative;">
   <div class="card-body">
      <div class="profile-sec">
         <img src="{{article.user.profile.profile_img}}" style="width: 40px; display: inline;" alt="">
         <h6 style="display: inline;" class="ml-2 name card-subtitle mb-2 text-muted">
            {{article.user.username}}</h6>
            <hr>
         <h6 class="date">{{ article.date_posted|date:"M d, Y" }}</h6>
      </div>
      <a style="text-decoration: none;" href="/articles/{{article.id}}" class="article-heading">
         <h3 class="card-title">{{article.title}}</h3>
      </a>
      <div class="views"><i class="far fa-eye"></i> {{article.views}}</div>
      <p class="card-text">{{article.description}}</p>
      {% if request.user.username == article.user.username %}
      <a href="/articles/edit/{{article.id}}" class="edit-icon"><i class="fas fa-edit"></i></a>
      {% endif %}
   </div>
</div>
{% endfor %}
{% else %}
<p>There are no articles to show</p>
{% endif %}
{% endblock %}